import React from 'react';

export interface {{{ NAME.PASCAL }}}Props {
  children?: React.ReactNode;
}

export function {{{ NAME.PASCAL }}}(_props: {{{ NAME.PASCAL }}}Props) {
  return (
    <>
      {/* TODO: Implement {{{ NAME.PASCAL }}} */}
    </>
  );
}
